.assets-control-panel{
  text-align: center;
  width: auto;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: "Roboto";
}

.title {
  text-align: center;
  margin-right: 15px;
}

.assets-graph{
  height: 400px;
}
