.create-asset-panel{
  text-align: center;
  max-width: 600px;
  height: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: "Roboto";
}

.title {
  text-align: center;
  margin-right: 15px;
}
