<div class="header">
  <h2 class="title">Brokers</h2>
  <button mat-mini-fab
          routerLink="/new-broker"
          matTooltip="Add a new broker"
          >
    <mat-icon class="add-broker-btn">add</mat-icon>
  </button>
</div>

<body class="broker-card-list">
  <mat-card class="broker-card mat-elevation-z7" *ngFor="let broker of brokers">

    <mat-card-header>
      <mat-card-title>
        {{ broker.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{ broker.description}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Number of assets: {{broker.assetIds.length}}</p>
    </mat-card-content>

    <mat-card-actions class="broker-actions">
      <button mat-raised-button color="primary"
              matTooltip="Edit broker"
              (click)="editBroker(broker)"
              >
        Edit
      </button>
      <button mat-raised-button color="primary"
              matTooltip="Delete broker"
              (click)="deleteBroker(broker.id)"
              >
        Delete
      </button>
    </mat-card-actions>

  </mat-card>

</body>

