<div [formGroup] = "form">

  <div>

    <mat-form-field>

      <input matInput placeholder="Broker name" formControlName="name">
      <mat-error *ngIf="brokerName.errors?.['minlength']">
        A minimum length of 2 characters is required.
      </mat-error>

    </mat-form-field>

  </div>

  <div>

    <mat-form-field>

      <input matInput placeholder="Broker description" formControlName="description">
      <mat-error *ngIf="brokerDescription.errors?.['maxlength']">
        A maximum length of 30 characters is required.
      </mat-error>

    </mat-form-field>

  </div>

  <div class="stepper-buttons">

    <button mat-raised-button color="accent" (click)="onCreateBroker()">
      Create Broker
    </button>

  </div>

</div>
